#formulario_juego {
  display: hidden;
}

body{
    /*overflow: hidden;*/
    background-image: url("/img/num-backgruond-3.jpg");
    background-size: cover;
}

h1{
  
    color:rgb(55, 2, 85);
    text-shadow: 0 0 05px white,
    0 0 10px white,
    0 0 15px white,
    0 0 25px white,
    0 0 30px white;
}

h3{
  color: #fff;
  text-shadow: 0 0 01px #000,
  0 0 03px #000,
  0 0 04px #000;
}

#contenedor-blanco{
    background-color:rgb(190, 255, 106);
    border-radius: 10px;
    border: 2px solid rgba(211, 255, 149, 0.915);
}

.btn-lila{
  background-color: rgb(181, 76, 247);
  border-color: rgb(230, 157, 251);
  color:#fff
}



